.followusercard-div {
    width: calc(100% - 3rem);
    height: calc(100% - 2rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    transition: 100ms ease;
}

.followusercard-div:hover {
    background-color: var(--xLightGrey);
}

.followusercard-div a {
    display: inherit;
    width: 80%;
    text-decoration: none;
}

.mightlike-follow-btn-container {
    width: 5rem;
    position: relative;
    z-index: 3;
}
