.ResetPasswordForm {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.ResetPasswordForm button:last-of-type {
    margin-top: 1.5rem;
}

.reset-special-input-container {
    height: 3rem;
}
