.resetpassword-section {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    height: 100%;
    width: 100%;
}

.reset-logo-container {
    height: 40px;
    width: 40px;
}

.reset-links-container {
    display: flex;
    align-items: center;
    justify-content: center;
}