.search-bar-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    box-sizing: border-box;
    padding: 0.4rem 1rem;
}

.search-header-arrow {
    border-radius: 50%;
    transition: 150ms ease;
    padding: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--black);
    width: 35px;
    height: 30px;
}

.search-header-arrow svg {
    height: 30px;
    width: 30px;
}

.search-header-arrow:hover {
    background-color: var(--xLightGrey);
}