.loggedinlayout-main {
    min-height: 100vh;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
}

@media (max-width: 660px) {
    .loggedinlayout-main::-webkit-scrollbar {
        display: none;
    }
    .loggedinlayout-main {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

.layout-left-sidebar-container {
    width: 24%;
}

@media (max-width: 1200px) {
    .layout-left-sidebar-container {
        max-width: 184px;
        min-width: 120px;
    }
}

@media (max-width: 660px) {
    .layout-left-sidebar-container {
        display: none;
    }
}

.inner-left-bar {
    position: fixed;
    z-index: 10;
    top: 0.5rem;
    left: 3rem;
    width: 15%;
}

@media (max-width: 1200px) {
    .inner-left-bar {
        width: fit-content;
        left: 4%;
    }
}

@media (max-width: 700px) {
    .inner-left-bar {
        left: 4%;
    }
}

.layout-main-section-container {
    box-shadow: 1px 1px 1px #aaaaaa11;
    border-right: 1px solid var(--xLightGrey);
    border-left: 1px solid var(--xLightGrey);
    width: 44%;
}

@media (max-width: 1200px) {
    .layout-main-section-container{
        max-width: 578px;
        min-width: 550px;
    }
}

@media (max-width: 1100px) {
    .layout-main-section-container{
        width: 100%;
        max-width: 550px;
        min-width: auto;
        margin: 0 auto;
        margin-left: 4%;
    }
}

@media (max-width: 700px) {
    .layout-main-section-container{
        margin: 0 auto;
    }
}

.layout-right-sidebar-container {
    width: 32%;
    box-shadow: 1px 1px 1px #aaaaaa11;
}

@media (max-width: 1200px) {
    .layout-right-sidebar-container {
        max-width: 423px;
        min-width: 400px;
    }
}

@media (max-width: 1100px) {
    .layout-right-sidebar-container {
        display: none;
    }
}

.inner-right-bar {
    position: fixed;
    top: 0.5rem;
    right: 0.5rem;
    width: 32%;
}

@media (max-width: 1200px) {
    .inner-right-bar {
        right: 0;
        width: 37%;
    }
}

@media (max-width: 660px) {
    .home-post-box {
        display: none;
    }
}
